/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile-3x.png);
  background-size: contain;
  background-position: center;

  @include onTablet() {
    background-image: url(../images/header-bg-tablet-2x.png);
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    padding-bottom: 88px;

    @include onTablet() {
      padding-bottom: 130px;
    }

    @include contentPaddingInline();
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: center;

    @include onTablet() {
      font-size: 64px;
    }
  }
}
/* #endregion */
