/* #region menu */
.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #e5e5e5;
  font-weight: 600;
  text-transform: uppercase;

  &__content {
    padding-block: 24px 113px;

    @include onTablet() {
      padding-block: 0 157px;
    }

    @include contentPaddingInline();
  }

  &__nav {
    padding-bottom: 40px;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__number {
      font-size: 16px;
      line-height: 27px;
      color: #1d1d1d;
      text-decoration: none;
    }

    &__book-ride {
      width: fit-content;

      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      color: #1d1d1d;
      text-decoration: none;

      padding-bottom: 7px;
      border-bottom: 1px solid #1d1d1d;
    }
  }
}
/* #endregion */
